@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


body{
    background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 1800px;
}

#root{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timeline {
    flex: 0 0 800px;
    font-family: 'Inter', sans-serif;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}

.header {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
}

.top-tweets {
    width: 1.5rem;
    height: auto;
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding:  .3rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.avatar {
    flex: 0 0 70px;
    /*padding: 0 rem;*/
}

.avatar img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.tweet-editor-form {
    flex: auto;
}

.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    resize: none;
    padding: 10px 0 0 0;
    margin: 13px 0;
}

.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*padding: 0.8rem 0;*/
    gap: 1rem;
}
.tweet-editor-actions button {
    background-color: transparent;
    border: none;
}
.button {
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}
.tweet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.tweet-avatar {
    /*height: 70px;*/
    /*width: 70px;*/
    flex: 0 0 70px;
}

.tweet-avatar img{
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}
.tweet-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}
.tweet-body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.tweet-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
}

.tweet-title svg{
    width: 1.2rem;
    height: auto;
}
.tweet-title-author{
    font-size: 1rem;
}
.tweet-title-details{
    color: #6E767D;
}
.tweet-text{
    color: #D9D9D9;
    font-size: 1rem;
}

.tweet-image{
    width: 100%;
    padding:  .3rem 0 0 0;
}

.tweet-image img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2F3336;
    border-style: solid;
    border-width: 1px;
}

.tweet-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: grey;
    font-size: 1rem;
}

.tweet-actions svg {
    width: 1rem;
    height: auto;
    color: #2F3336;
}

.tweet-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
App{
    display: flex;
}
.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.sidebarOption>h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: #50b7f5;
    transition: color 100ms ease-out;
}
.sidebar__tweet{
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    padding: 10px 70px;

}
.trends__input{
    display: flex;
    align-items: center;
    padding: 10px;
   
    margin-top: 10px;
    margin-left: 20px;
}
.trends__input>input{
    border-radius: 20px;
    padding: 10px 70px;
    border: none;
    background-color: #e8f5fe;
}
.trends__searchIcon{
    color: #dee3ed;
    margin-left: 60px;
    position: relative;
}
.trends__container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #808080;
    border-radius: 20px;
}
.trends__container>h2{
    font-size: 18px;
    font-weight: 800;
}
.tweet-action:hover{
  color: #1D9BF0;
  border-radius: 80px;
  cursor: pointer;

}
.trends__search{
    display: flex;
    gap: 10px;
    border-radius: 40px;
    padding: 10px 15px;
    background-color: #16181c;
    margin-top: 4px;
}
.trends__search input{
    border: none;
    background-color: #16181c;
    outline: none;
    color: #ffffff;
    width: 100%;
    border-radius: 20px;
    padding: 6px 10px;
}

.trends__card,
.follow__card
{
    background-color: #16181c;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
  
}
.trends__title  img{
    display: flex;
    justify-content: space-between;
}
.trends__text__small{
    font-size: 15px;
    color: #6E767D;
}
.trends__show__more a {
    color: #1D9BF0;
    text-decoration: none;
}
.follow__items button {
    padding: .4rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: white;
}
.follow__items img{
    width: 40px;
    height: 40px;
}

.follow__flex{
    display: flex;
    margin-top: 5px;
    padding: 10px 0;
    gap: 10px;
}
.trends__flex{
    display: flex;
    margin-top: 5px;
    padding: 10px 0;
    justify-content: space-between;
}
.policy a{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: #6E767D;
    padding: 5px;
}